# Electron build/output folders
Electron/dist/
Electron/out/
Electron/build/

# Node modules
Electron/node_modules/

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Misc
*.swp
*.swo