body.dark {
  --background-color: #431c5c;
  --text-color: #e0e0e0;
  --text-color-inverted: #333;
}

body.light {
  --background-color: #a47ad1;
  --text-color: #fff;
  --text-color-inverted: #f0f0f0;
}

.theme-toggle button img {
  width: 40px;
  height: 40px;
  margin: auto;
  transition: all 0.5s ease;
}
.theme-toggle {
  margin-bottom: 20px;
}

#toggle {
  background: #0000;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
}